* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    
    
    
}

html , body {
    height: 100vh;
    width: 100%;
}

h1 , h3 {
    font-family: 'DM Serif Display', serif;
}

h2 {
    font-family: 'Sriracha', cursive;
}

p {
    font-family: 'Patrick Hand SC', cursive;
}

.header {
    background-image: url(image\ \(11\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.header_info {
    position: absolute;
    top: 25%;
    color: #ffffff;
    padding: 20px;
    text-shadow: 2px 2px #281919;
    font-size: 35px;
}

.icon_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav_link {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 1.5rem;

}

#check {
    display: none;
}

.icon {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .icon_bar {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icon {
        display: inline-flex;
}

#check:checked~.icon #menu_icon {
    display: none;
}

.icon #close_icon {
    display: none;
}

#check:checked~.icon #close_icon {
    display: block;
}

.Menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #000000;
    transition: .3s ease;
    overflow: hidden;
}

#check:checked~.Menu {
    height: 17.7rem;
}

.nav_link {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
}
}

.landing_cover {
    margin-top: 0cap;
}

.pic_shiba {
    width: 300px;
    transform: rotate(25deg);

    margin-right: 40px;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.pic_shiba :hover {
    transform: scale(1.2);
}

.container_about {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    margin-top: 100px;
}

.about_content {
    flex: 1;
}

.about_content h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.about_content p {
   font-size: 15px;
   line-height: 1.5;
   margin-bottom: 15px;
}

.about_content button {
    display: inline-block;
    font-size: 15px;
}

.landing_cover {
    height: 400px;
    width: fit-content;
    
}



.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    margin-bottom: 150px;
}

.col1 , .col2 , .col3 {
    width: 300px;
    height: 320px;
    background-color: aquamarine;
    margin: 35px;
    padding: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: .3s ease-in-out;
}

.col1:hover , .col2:hover , .col3:hover {
    background-color: rgba(129, 255, 137, 0.8);
}

.feature_info {
    letter-spacing: 2px;
    margin: 0 0 .6rem 0;
    font-family: 'Sriracha', cursive;
    padding: 15px;
    font-size: 20px;
}

.feature_p {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    padding: 5px;
}

.col1 p , .col2 p , .col3 p {
    line-height: 1.6;
    padding: 0 10px;
}

i {
    padding: 5px;
}

.feature_text {
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
